@font-face {
    font-family: oswald;
    src: url(../font/static/Oswald-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: oswald;
    text-decoration: none;
    list-style: none;
}