main{

    #conceptSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em 0;

        h1{
            font-size: 65px;
            font-weight: 400;
        }

        p{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            width: 28%;
            text-align: center;
            line-height: 35px;
        }

        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 70%;
            padding: 5em 0;
            column-gap: 5em;
            row-gap: 5em;

            article{
                width: 25%;

                h4{
                    color: #4e5dab;
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 1em;
                }

                ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                        margin-top: -15px;

                        span{
                            color: gray;
                            font-size: 40px;
                            font-weight: 100;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }

    #myWorks{
        background-color: #292D33;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 0;

        #myWorksTitle{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;

            h1{
                font-size: 65px;
                color: white;
                font-weight: bold;
            }

            p{
                font-size: 20px;
                font-style: italic;
                color: #858e99;
                font-family: 'Open Sans', sans-serif;
                width: 50%;
                line-height: 35px;
            }
        }
        
        #gallery{
            padding: 3em 0;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 33.33333%);
            grid-template-rows: repeat(3, 28em);
            width: 100%;

            .one{
                grid-area: 1/1/2/2;
                background-image: url(../images/gal1.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;

                .blueSquare{
                    background-image: linear-gradient(0deg, #4e5dab, #4e5dab);
                    width: 100%;
                    height: 100%;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    // animation: opacity 0.5s;

                    p{
                        color: white;
                        font-size: 1.875em;
                        font-weight: 400;
                    }
                }
                
                // @keyframes opacity{
                //     from{
                //         opacity: 0%;
                //     }

                //     to{
                //         opacity: 100%;
                //     }
                // }
            }

            .two{
                grid-area: 1/2/2/3;
                background-image: url(../images/gal2.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .three{
                grid-area: 1/3/2/4;
                background-image: url(../images/gal3.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .four{
                grid-area: 2/1/3/2;
                background-image: url(../images/gal4.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .five{
                grid-area: 2/2/3/3;
                background-image: url(../images/gal5.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .six{
                grid-area: 2/3/3/4;
                background-image: url(../images/gal6.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .seven{
                grid-area: 3/1/4/2;
                background-image: url(../images/gal7.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .eight{
                grid-area: 3/2/4/3;
                background-image: url(../images/gal8.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }

            .nine{
                grid-area: 3/3/4/4;
                background-image: url(../images/gal9.jpg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    color: white;
                    font-size: 1.875em;
                    font-weight: 400;
                }
            }
        }

        #freepik{
            color: white;
            font-family: 'Open Sans', sans-serif;

            a{
                color: white;
                text-decoration: underline;
                font-family: 'Open Sans', sans-serif;
            }
        }

        #skills{
            display: flex;
            justify-content: center;

            div{
                display: flex;
                flex-direction: column;
                width: 17%;
                padding: 2em;
                line-height: 1.6;

                h5{
                    font-size: 20px;
                    color: white;
                    letter-spacing: 2px;
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                }

                h1{
                    font-size: 60px;
                    font-weight: 400;
                    color: white;
                }

                p{
                    font-size: 20px;
                    font-family: 'Open Sans', sans-serif;
                    color: #858e99;
                    line-height: 35px;
                    padding: 1em 0;
                }

                a{
                    padding: 0.5em 2em;
                    width: 35%;
                    background-color: #4e5dab;
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    border-radius: 15px;
                    color: white;
                    font-size: 1.125em;
                    font-weight: 500;
                    letter-spacing: 1px;
                    transition: all ease-in-out 0.2s;
                }

                a:hover{
                    background-color: #79c0fb;
                }

                ul{

                    li{
                        display: flex;
                        align-items: flex-start;
                        font-size: 20px;
                        font-family: 'Open Sans', sans-serif;
                        color: #858e99;
                        margin-left: 1.4em;

                        span{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    #profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 0;

        h1{
            font-size: 48px;
            font-weight: 700;
        }

        p{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            padding: 1em 0;
        }

        img{
            border-radius: 75%;
            width: 17em;
            height: 17em;
            object-fit: cover;
            margin-top: 5em;
        }

        div{
            margin-top: 2.5em;
            background-color: #4e5dab;
            width: 30%;
            color: white;
            padding: 1em;
            text-align: center;

            h3{
                font-size: 30px;
                font-weight: 400;
            }

            p{
                font-family: 'Open Sans', sans-serif;
                line-height: 2;
                font-size: 16px;
            }

            a{
                color: white;
                font-family: 'Open Sans', sans-serif;
                text-decoration: underline;
            }
        }

        #details{
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h4{
                font-size: 30px;
                font-weight: 400;
                padding-bottom: 0.3em;
            }

            p{
                font-size: 16px;
                padding: 0.3em;
                font-family: 'Open Sans', sans-serif;

                span{
                    font-weight: 700;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            
            #profileSocial{
                background-color: white;
                margin: 0;
                display: flex;
                justify-content: center;
                gap: 1em;

                i{
                    font-size: 20px;
                    color: black;
                    font-weight: 700;    
                }
                
            }
        }
    }

    #pricingTable{
        background-color: #4e5dab;
        padding: 3.5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 60px;
            color: white;
            font-weight: 400;

            span{
                font-weight: 700;
            }
        }

        p{
            padding: 1.5em;
            text-align: center;
            color: white;
            font-style: italic;
            font-family: 'Open Sans', sans-serif;
            width: 40%;
            line-height: 1.5;
        }

        div{
            display: flex;
            justify-content: center;
            gap: 1em;

            article{
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2em 3em;

                h4{
                    font-size: 24px;
                    color: #4e5dab;
                    font-weight: 400;
                }

                h3{
                    font-size: 48px;
                    color: #4e5dab;
                    font-weight: 400;

                    span{
                        font-size: 36px;
                        font-weight: 400;
                    }
                }

                h6{
                    font-size: 18px;
                    color: #4e5dab;
                    font-weight: 400;
                    font-family: 'PT Sans', sans-serif;
                    padding: 1em 0;
                }

                p{
                    color: #808080;
                    width: 70%;
                    font-style: normal;
                    padding: 1em 3.5em;
                    border-top: #808080 solid 1px;
                }

                a{
                    margin: 1em 0;
                    padding: 0.5em 3em;
                    border: #4e5dab solid 2px;
                    color: #4e5dab;
                    font-size: 20px;
                }

                a:hover{
                    background-color: #4e5dab;
                    color: white;
                }

                .middleCard{
                    color: white;
                    background-color: #4e5dab;
                }

                .middleCard:hover{
                    background-color: white;
                    color: #4e5dab;
                }
            }
        }
    }

    #number{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../images/reunionTable.jpg);
        background-position: center;
        padding: 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        div{
            display: flex;
            justify-content: center;
            gap: 1.5em;
            
            article{
                padding: 30px;
                border: white solid 1px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    color: white;
                    font-size: 44px;
                    padding: 30px;
                    border: white solid 2px;
                    border-radius: 50%;
                    margin: 30px;
                    font-weight: 400;
                }

                h5{
                    color: white;
                    font-size: 18px;
                    letter-spacing: 1;
                    font-weight: 400;
                }
            }
        }

        #freepik{
            color: white;
            font-family: 'Open Sans', sans-serif;

            a{
                color: white;
                text-decoration: underline;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }

    .displayNone{
        display: none;
    }
}