@font-face {
  font-family: oswald;
  src: url(../font/static/Oswald-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: oswald;
  text-decoration: none;
  list-style: none;
}

header #fixedBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: #F2F2F2;
  display: flex;
}
header #fixedBar div {
  margin: 0 auto;
}
header #fixedBar div img {
  padding: 0.5em;
}
header #fixedBar div img:hover {
  background-color: #C9E4F9;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  padding: 1em;
  gap: 40em;
}
header nav #navRightPart {
  display: flex;
  align-items: center;
  gap: 2em;
}
header nav #navRightPart #navSocial .fa-facebook-f {
  background-color: #3B5998;
  color: white;
  padding: 5px 7px;
  border-radius: 50%;
}
header nav #navRightPart #navSocial .fa-twitter {
  background-color: #55ACEE;
  color: white;
  padding: 5px;
  border-radius: 50%;
}
header nav #navRightPart #navSocial .fa-instagram {
  background-color: #C536A4;
  color: white;
  padding: 5px;
  border-radius: 50%;
}
header nav #navRightPart #menuBurger .bar {
  height: 3px;
  width: 30px;
  background-color: black;
  margin: 5px;
}
header #presentation {
  display: flex;
  width: 100%;
}
header #presentation .image {
  background-image: url(../images/photoHomme.jpg);
  background-size: cover;
  width: 40%;
  height: 35rem;
}
header #presentation .presentationP {
  width: 40%;
  height: 35rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
header #presentation .presentationP h1 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
header #presentation .presentationP h2 {
  color: #4e5dab;
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 1.2rem;
}
header #presentation .presentationP p {
  font-size: smaller;
  opacity: 0.8;
  margin-bottom: 1rem;
}
header #presentation .blueBackground {
  background-color: #4e5dab;
  width: 20%;
  height: 35rem;
}
header .contact {
  margin-bottom: 3rem;
}
header .contact ul li {
  font-size: smaller;
  margin-bottom: 0.6rem;
}
header .contact ul li a {
  color: #4e5dab;
}
header .contact i {
  color: #4e5dab;
}
header .button {
  color: white;
  background-color: #4e5dab;
  padding: 0.8rem 4.5rem;
  border-radius: 5px;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

main #conceptSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}
main #conceptSection h1 {
  font-size: 65px;
  font-weight: 400;
}
main #conceptSection p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  width: 28%;
  text-align: center;
  line-height: 35px;
}
main #conceptSection div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 5em 0;
  column-gap: 5em;
  row-gap: 5em;
}
main #conceptSection div article {
  width: 25%;
}
main #conceptSection div article h4 {
  color: #4e5dab;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
}
main #conceptSection div article ul {
  display: flex;
  flex-direction: column;
}
main #conceptSection div article ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: -15px;
}
main #conceptSection div article ul li span {
  color: gray;
  font-size: 40px;
  font-weight: 100;
  margin-right: 15px;
}
main #myWorks {
  background-color: #292D33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}
main #myWorks #myWorksTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main #myWorks #myWorksTitle h1 {
  font-size: 65px;
  color: white;
  font-weight: bold;
}
main #myWorks #myWorksTitle p {
  font-size: 20px;
  font-style: italic;
  color: #858e99;
  font-family: "Open Sans", sans-serif;
  width: 50%;
  line-height: 35px;
}
main #myWorks #gallery {
  padding: 3em 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 33.33333%);
  grid-template-rows: repeat(3, 28em);
  width: 100%;
}
main #myWorks #gallery .one {
  grid-area: 1/1/2/2;
  background-image: url(../images/gal1.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
main #myWorks #gallery .one .blueSquare {
  background-image: linear-gradient(0deg, #4e5dab, #4e5dab);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .one .blueSquare p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .two {
  grid-area: 1/2/2/3;
  background-image: url(../images/gal2.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .two p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .three {
  grid-area: 1/3/2/4;
  background-image: url(../images/gal3.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .three p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .four {
  grid-area: 2/1/3/2;
  background-image: url(../images/gal4.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .four p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .five {
  grid-area: 2/2/3/3;
  background-image: url(../images/gal5.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .five p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .six {
  grid-area: 2/3/3/4;
  background-image: url(../images/gal6.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .six p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .seven {
  grid-area: 3/1/4/2;
  background-image: url(../images/gal7.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .seven p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .eight {
  grid-area: 3/2/4/3;
  background-image: url(../images/gal8.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .eight p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #gallery .nine {
  grid-area: 3/3/4/4;
  background-image: url(../images/gal9.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #myWorks #gallery .nine p {
  color: white;
  font-size: 1.875em;
  font-weight: 400;
}
main #myWorks #freepik {
  color: white;
  font-family: "Open Sans", sans-serif;
}
main #myWorks #freepik a {
  color: white;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
}
main #myWorks #skills {
  display: flex;
  justify-content: center;
}
main #myWorks #skills div {
  display: flex;
  flex-direction: column;
  width: 17%;
  padding: 2em;
  line-height: 1.6;
}
main #myWorks #skills div h5 {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
main #myWorks #skills div h1 {
  font-size: 60px;
  font-weight: 400;
  color: white;
}
main #myWorks #skills div p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #858e99;
  line-height: 35px;
  padding: 1em 0;
}
main #myWorks #skills div a {
  padding: 0.5em 2em;
  width: 35%;
  background-color: #4e5dab;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all ease-in-out 0.2s;
}
main #myWorks #skills div a:hover {
  background-color: #79c0fb;
}
main #myWorks #skills div ul li {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #858e99;
  margin-left: 1.4em;
}
main #myWorks #skills div ul li span {
  margin-right: 5px;
}
main #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}
main #profile h1 {
  font-size: 48px;
  font-weight: 700;
}
main #profile p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 1em 0;
}
main #profile img {
  border-radius: 75%;
  width: 17em;
  height: 17em;
  object-fit: cover;
  margin-top: 5em;
}
main #profile div {
  margin-top: 2.5em;
  background-color: #4e5dab;
  width: 30%;
  color: white;
  padding: 1em;
  text-align: center;
}
main #profile div h3 {
  font-size: 30px;
  font-weight: 400;
}
main #profile div p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-size: 16px;
}
main #profile div a {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
}
main #profile #details {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #profile #details h4 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 0.3em;
}
main #profile #details p {
  font-size: 16px;
  padding: 0.3em;
  font-family: "Open Sans", sans-serif;
}
main #profile #details p span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
main #profile #details #profileSocial {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}
main #profile #details #profileSocial i {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
main #pricingTable {
  background-color: #4e5dab;
  padding: 3.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #pricingTable h1 {
  font-size: 60px;
  color: white;
  font-weight: 400;
}
main #pricingTable h1 span {
  font-weight: 700;
}
main #pricingTable p {
  padding: 1.5em;
  text-align: center;
  color: white;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  width: 40%;
  line-height: 1.5;
}
main #pricingTable div {
  display: flex;
  justify-content: center;
  gap: 1em;
}
main #pricingTable div article {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 3em;
}
main #pricingTable div article h4 {
  font-size: 24px;
  color: #4e5dab;
  font-weight: 400;
}
main #pricingTable div article h3 {
  font-size: 48px;
  color: #4e5dab;
  font-weight: 400;
}
main #pricingTable div article h3 span {
  font-size: 36px;
  font-weight: 400;
}
main #pricingTable div article h6 {
  font-size: 18px;
  color: #4e5dab;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  padding: 1em 0;
}
main #pricingTable div article p {
  color: #808080;
  width: 70%;
  font-style: normal;
  padding: 1em 3.5em;
  border-top: #808080 solid 1px;
}
main #pricingTable div article a {
  margin: 1em 0;
  padding: 0.5em 3em;
  border: #4e5dab solid 2px;
  color: #4e5dab;
  font-size: 20px;
}
main #pricingTable div article a:hover {
  background-color: #4e5dab;
  color: white;
}
main #pricingTable div article .middleCard {
  color: white;
  background-color: #4e5dab;
}
main #pricingTable div article .middleCard:hover {
  background-color: white;
  color: #4e5dab;
}
main #number {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/reunionTable.jpg);
  background-position: center;
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main #number div {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
main #number div article {
  padding: 30px;
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #number div article h4 {
  color: white;
  font-size: 44px;
  padding: 30px;
  border: white solid 2px;
  border-radius: 50%;
  margin: 30px;
  font-weight: 400;
}
main #number div article h5 {
  color: white;
  font-size: 18px;
  letter-spacing: 1;
  font-weight: 400;
}
main #number #freepik {
  color: white;
  font-family: "Open Sans", sans-serif;
}
main #number #freepik a {
  color: white;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
}
main .displayNone {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #contact {
  display: flex;
  width: 60%;
  padding: 5em 0;
}
footer #contact #newsletter {
  color: #4E5DB3;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  gap: 1em;
}
footer #contact #newsletter h4 {
  font-size: 18px;
}
footer #contact #newsletter .footerBoldText {
  font-size: 36px;
  font-weight: 700;
  width: 80%;
}
footer #contact #newsletter .address {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
footer #contact #newsletter #mailNewsletter {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #929fdf;
  text-decoration: underline;
}
footer #contact #newsletter #mailNewsletter:hover {
  color: #4E5DB3;
}
footer #contact #newsletter i {
  margin-right: 1em;
  color: #4E5DB3;
  font-size: 26px;
}
footer #contact #formulaire {
  background-color: #E5E5E5;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 50%;
}
footer #contact #formulaire p {
  color: #4E5DB3;
  font-size: 48px;
}
footer #contact #formulaire .form {
  font-size: 1.125em;
  padding: 10px 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  border: none;
}
footer #contact #formulaire #message {
  font-size: 1.125em;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  padding: 10px 12px;
  border: none;
}
footer #contact #formulaire #submitBtn {
  display: flex;
  justify-content: flex-end;
}
footer #contact #formulaire a {
  padding: 1em 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
  background-color: #4e5dab;
}
footer #bottomFooter {
  background-color: #333333;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 0;
}
footer #bottomFooter #bottomFooterText {
  width: 20%;
  display: flex;
  gap: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #bottomFooter #bottomFooterText p, footer #bottomFooter #bottomFooterText a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
footer #bottomFooter #bottomFooterText div {
  display: flex;
}
footer #bottomFooter #bottomFooterText div p, footer #bottomFooter #bottomFooterText div a {
  font-size: 12, 8px;
}
footer #bottomFooter #bottomFooterText div a {
  padding-right: 5px;
  color: #a1d3fc;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
